@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
}

.footer {
  background-color: #333333;
  color: #F1F9FF;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h4 {
  text-align: center;
  font-size: 16px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.bg-image {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.facebook.com%2Fcompraventaglobal%2F&psig=AOvVaw0EitOpQ9nvu_x1wiOuUoYl&ust=1717959698985000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDEpuPYzIYDFQAAAAAdAAAAABAE");
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #4A90E2;
  color: #F1F9FF;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #F1F9FF;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 14px;
  }
}

.about-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}